OPENAI_API_KEY=<KEY>
ANTHROPIC_API_KEY=<KEY>
GOOGLE_API_KEY=<KEY>
LLM_CACHE_PATH=.

# local, dev, prod
ENVIRONMENT=local

DOCENT_PG_USER=ubuntu
DOCENT_PG_PASSWORD=your_password_here
DOCENT_PG_HOST=localhost
DOCENT_PG_PORT=5432
DOCENT_PG_DATABASE=docent

DOCENT_REDIS_HOST=localhost
DOCENT_REDIS_PORT=6379
DOCENT_REDIS_USER=
DOCENT_REDIS_PASSWORD=

DOCENT_CORS_ORIGINS=

SENTRY_DSN=
